.container {
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
   padding: 20px;
   line-height: 1.6;
   text-align:center;
   background-color: antiquewhite;
   box-sizing: border-box;
}

body {
   font-size: 25px;
   width: 100%;
   margin: 0;
   background-color:linen;
}

.slider {
   height: 100vh;
   overflow-y: auto;
   scroll-snap-type: y mandatory;
   scrollbar-width: none;
   width: 100%;
}


.slide {
   height: 100vh;
   max-width: 100vh;
   margin: 0;
   min-height: auto;
   scroll-snap-align: start;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

li {
   padding: 5px 0;
   margin-left: 0;
   text-align: left;
}
*{
    box-sizing: border-box;
}
@media (max-width: 600px) {
   body {
      font-size: 18px;
   }
.container {
   padding: 10px;
}
h2 {
   font-size: 22px;
  }
}
